@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --black: #000;
  --gray: #1c1e22;
  --graytransparent: #00000080;
  --white: #fff;
  --yellow: #f1c232;
  --green: #83b716;
  --blue: #0065bd;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, RobotoSlab, Mulish;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--gray);
  color: var(--white);
  text-align: justify;
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, RobotoSlab, Mulish;
}

h1, .h1b, .h1g {
  color: var(--yellow);
  text-align: center;
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: calc(32px + 2vmin);
}
.h1b {  color: var(--blue);}
.h1g {  color: var(--green);}

.scrollButton {
  display: inline-flex;

  padding: 10px 20px;
  border-radius: 10px;

  cursor: pointer;
  background-color: var(--yellow);
  color: var(--gray);
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}
.scrollButton:hover {  background-color: #a08021;}
.scrollButton:active {  background-color: var(--white);}

.imageContainer {
  width: auto;
  height: 100%;
  justify-content: center;
  display: flex;
}

.imageLink {
  width: auto;
  height: 100%;
  object-fit: contain;
}

@font-face {
  font-family: 'RobotoSlab';
  src: local('MyFont'), url(./fonts/RobotoSlab.ttf) format('truetype');

}

@font-face {
  font-family: 'Mulish';
  src: local('MyFont'), url(./fonts/Mulish.ttf) format('truetype');
}