body {
  --black: #000;
  --gray: #1c1e22;
  --graytransparent: #00000080;
  --white: #fff;
  --yellow: #f1c232;
  --green: #83b716;
  --blue: #0065bd;

  color: var(--white);
  text-align: justify;
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}

h1, .h1b, .h1g {
  color: var(--yellow);
  text-align: center;
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: calc(32px + 2vmin);
}
.h1b {  color: var(--blue);}
.h1g {  color: var(--green);}

.App {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.scrollButton {
  display: inline-flex;

  padding: 10px 20px;
  border-radius: 10px;

  cursor: pointer;
  background-color: var(--yellow);
  color: var(--gray);
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}
.scrollButton:hover {  background-color: #a08021;}
.scrollButton:active {  background-color: var(--white);}

.imageContainer {
  width: auto;
  height: 100%;
  justify-content: center;
  display: flex;
}

.imageLink {
  width: auto;
  height: 100%;
  object-fit: contain;
}