body {
  --black: #000;
  --gray: #1c1e22;
  --graytransparent: #00000080;
  --white: #fff;
  --yellow: #f1c232;
  --green: #83b716;
  --blue: #0065bd;

  color: var(--white);
  text-align: justify;
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}

h1, .h1b, .h1g {
  color: var(--yellow);
  text-align: center;
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: calc(32px + 2vmin);
}
.h1b {  color: var(--blue);}
.h1g {  color: var(--green);}

.App {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  object-fit: contain;
  max-height: 8vh;
  height: 12vh;
  width: 100%;
  background-color: var(--black);
}

.bottomBar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3vh;
  min-height: 24px;
  width: 100%;
  font-size: 1rem;

  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--graytransparent);
  z-index: 63;
}

.scrollButton {
  display: inline-flex;

  padding: 10px 20px;
  border-radius: 10px;

  cursor: pointer;
  background-color: var(--yellow);
  color: var(--gray);
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}
.scrollButton:hover {  background-color: #a08021;}
.scrollButton:active {  background-color: var(--white);}

.imageContainer {
  width: auto;
  height: 100%;
  justify-content: center;
  display: flex;
}

.imageLink {
  width: auto;
  height: 100%;
  object-fit: contain;
}