body {
  --black: #000;
  --gray: #1c1e22;
  --graytransparent: #00000080;
  --white: #fff;
  --yellow: #f1c232;
  --green: #83b716;
  --blue: #0065bd;

  color: var(--white);
  text-align: justify;
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}

h1, .h1b, .h1g {
  color: var(--yellow);
  text-align: center;
  font-family: RobotoSlab;
  font-weight: 700;
  font-size: calc(32px + 2vmin);
}
.h1b {  color: var(--blue);}
.h1g {  color: var(--green);}

.App {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.section {
  height: 100vh;
}

.navbar {
  height: 8vh;
  display: flex;
  object-fit: contain;
  background-color: var(--black);
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

button {
  margin-top: 5rem;
  font-size: 10rem;
}

.ScrollButton {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--gray);
  font-family: Mulish;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}
.ScrollButton:hover {  background-color: #a08021;}
.ScrollButton:active {  background-color: var(--white);}

.bottom {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3vh;
  position: fixed;
  background-color: var(--graytransparent);
  justify-content: left;
  z-index: 63;
}

.ImageLink Img {
  display: inline-flex;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
